.custom {
    margin-left: 400px;
}
.ronaldo img {
    height: 200px;
    width: 200px;
}
.cudlik {
    margin-left: 700px;
    margin-top: -50px;
    gap: 1px;
    padding: 5px;
    border-color: black;
}
.text {
    margin-top: 10px;
}
.thumb {
    height: 150px;
    width: 100px;
}