.custom {
    margin-left: 400px;
}
.ronaldo img {
    height: 200px;
    width: 200px;
}
.cudlik {
    margin-left: 800px;
    margin-top: -100px;
    width: 100px;
    height: 100px;
    gap: 1px;
    justify-content: center;
}
.text {
    margin-right: 500px;
}